<div class="body">
    <div class="container">
        <div class="row">


            <div class="container py-1 infoBody">
                <div class="row g-4">

                    <!-- Columna de 8 al lado -->
                    <div class="col-4">
                        <div class="info-block p-3 mb-3" style="height: 15%;  border-radius: 10px;">
                            <h5 class="mb-2"><strong><i class="uil uil-align-center"></i> Completed {{this.type}}</strong></h5>
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="numTotal">{{data.length}}</h3>
                                </div>
                                <div class="col-md-4">
                                    <button class="filter-button" (click)="navegarAComponenteDestino(this.type)">Library</button>
                                </div>
                            </div>

                            
                        </div>

                        <div class="info-block block-gallery flex-grow-1 p-3" style="height: 83%; border-radius: 10px;">
                            <div>
                                <h5 style="margin-top: 1%; margin-bottom: 5%;">
                                    <strong><i class="uil uil-award"></i> Masterpieces</strong>
                                </h5>

                                <div class="gallery-container">
                                    <div class="movie-card" *ngFor="let d of masterpieceData">
                                        <div class="cardImage">
                                            <img class="image" title="{{ d.name }}" [src]="d.image" [alt]="d.name" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end align-items-end mt-3">
                                <img src="./assets/img/oro.png" alt="Imagen" style="width: 45px; height: 55px;">
                                <h5 class="ms-2 mb-0"><strong>{{ masterpieceData.length }}</strong></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex flex-column">
                        <div class="col-md-12">
                            <div class="info-block block-chart">

                                <app-graphics-byscore [data]="data"></app-graphics-byscore>
                            </div>
                        </div>

                        <!-- Bloque: gráfico 2 -->
                        <div class="col-md-12" style="margin-top: 4%; margin-bottom: 4%;">
                            <div class="info-block block-chart">
                                <app-graphics-byyear [data]="data"></app-graphics-byyear>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="info-block block-chart">
                                <app-graphics-bytype [data]="data"></app-graphics-bytype>
                            </div>
                        </div>



                    </div>



                    <!-- Columna de 4 dividida verticalmente -->
                    <div class="col-4 d-flex flex-column">
                        <div class="col-md-12">
                            <div class="info-block ">
                                <app-graphics-bytype2 [data]="data"></app-graphics-bytype2>
                            </div>
                        </div>

                    </div>




                    <!-- Bloque: gráfico 1 -->


                </div>
            </div>





        </div>
    </div>



</div>