.body{
    margin-top: 10px;
    background-color: #121212;
    margin-bottom: 10px;
    border-radius: 10px;
    height: calc(102vh - 60px);
}

.list{
    max-height: calc(95vh - 60px);
    overflow-y: auto;
    width: 100%;
    margin: auto;
}

.list::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento vertical en navegadores webkit */
}

.card{
    background-color: #252525;
    margin-top: 2%;
}

button{
    background-color: transparent; 
    color: white; 
    margin-right: 2%;
   border: none;
  }

  header {
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    text-align: right;
    border-radius: 10px;
}

.imagen{
    width: 80%; 
    height: 180px;
   
    border: 1px solid #000000;
    border-radius: 10px;
    
  }



  .iconCard{
    font-size: 15px;
}

.btnCard{
    background-color: #807d7d;
    margin-left: 15%;
}

.btnCard:hover{
    color: white;
    background-color: red;
}

.b1{
    background-color: transparent; 
    color: white; 
    border-radius: 5px;
    border: 1px solid #ffffff;
  }

  .b1:hover{
    background-color: rgb(229, 255, 0);
    color: black;
    border-color: transparent;
    border-radius: 5px;
  }






  .tags {
    color: #807d7d;
    font-size: 0.9em;
}

.release-date {
    color: #807d7d;
    font-size: 0.9em;
}




.liked {
    background-color: red;
}

.not-liked {
    background-color: gray;
}




 /* Estilos para la animación de carga */
 .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767); /* Fondo oscurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima del modal */
  }
  

  .cardQuadrature {
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: none;
  }

  .quadrature{
    max-height: calc(95vh - 60px);
    overflow-y: auto;
    width: 100%;
    margin: auto;
  }


  .quadrature::-webkit-scrollbar {
    width: 0; 
  }
  
  .form-check-label + .form-check-label {
    margin-left: 10px; /* Ajusta este valor según tus necesidades */
  }
  

  .imagenQuadrature{
    width: 100%; 
    height: 250px;
    border: 1px solid #000000;
    border-radius: 10px;
  }

  .togle{
    margin-right: 3%;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  

  .star-rating {
    font-size: 2rem; /* Tamaño de las estrellas */
    color: gray; /* Color de las estrellas sin seleccionar */
    margin-top: 0%;
  }
  
  .star-rating .selected {
    color: gold; /* Color de las estrellas seleccionadas */
  }
  
  .star-rating span {
    cursor: pointer; /* El cursor cambia cuando se pasa por encima */
  }


  select{
    margin-top: 5%;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: transparent;
  }
  
  select option {
    
    background-color: var(--color-1); 
    color: var(--color-text); 
  }

  .intro {
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
  }
  .intro h1 {
    font-size: 4em;
    margin: 0;
  }
  .intro h2 {
    font-size: 2em;
    margin: 0;
  }
  
  .intro p {
    font-size: 1.2em;
    margin-top: 1em;
  }