
.body {
  margin-top: 10px;
  background-color: #121212;
  margin-bottom: 10px;
  border-radius: 10px;
  height: calc(102vh - 60px);
  text-align: start;
}

.workplace{
  height: calc(100vh - 60px);
  overflow-y: auto;
  width: 100%;
  margin: auto;
}

.workplace::-webkit-scrollbar {
  width: 0; 
}


header {
  background-color: transparent;
  color: #fff;
  padding: 5px 20px;
  text-align: right;
  border-radius: 10px;
}

.star-rating {
  font-size: 2rem; 
  color: gray; 
  margin-top: 0%;
}

.star-rating .selected {
  color: gold;
}

.star-rating span {
  cursor: pointer; 
}

.btnCard{
  background-color: #807d7d;
  margin-left: 15%;
}

.btnCard:hover{
  color: black;
  background-color: var(--color-2);
}

.b1{
  background-color: transparent; 
  color: white; 
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.b1:hover{
  background-color: var(--color-2);
  color: black;
  border-color: transparent;
  border-radius: 5px;
}

.liked {
  background-color: var(--color-2);
  color: black;
}

.not-liked {
  background-color: gray;
}

.bannerArea {
  position: relative;
  z-index: 0;
  height: 300;
  padding-top: 1%;
}

.bannerArea::before {
  position: absolute;
  z-index: -1; 
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(18, 18, 18) 100%), url('../../../assets/banner.jpg');
  filter: grayscale(100%);
  
  opacity: 0.2;
}


.workingArea{
  margin-left: 5%;
  margin-right: 5%;
}


.currentlyArea{
  margin-top: 10%;
}

.cardQuadrature {
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  border: none;
}

.cardQuadratureActive {
  border: 3px solid #92ac03;
  border-radius: 10px;
}


.quadrature{
  overflow-y: auto;
  width: 100%;
  margin: auto;
}


.card{
  background-color: #252525;
  margin-top: 2%;
}


.quadrature::-webkit-scrollbar {
  width: 0; 
}

.form-check-label + .form-check-label {
  margin-left: 10px; 
}


.imagenQuadrature{
  width: 100%; 
  height: 250px;
  border: 1px solid #000000;
  border-radius: 10px;
}

 /* Estilos para la animación de carga */
 .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767); /* Fondo oscurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima del modal */
}


.table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.movie-table {
  width: 95%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color:#1e1e1e;
  color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}



.movie-table th,
.movie-table td {
  padding: 12px 15px;
  text-align: left;
}

.movie-table th {
  background-color: #3a3a3a;
  font-weight: bold;
  font-size: 16px;
  background-color: #252525;
}

.movie-table tbody tr {
  border-bottom: 1px solid #444;
}

.movie-table tbody tr:last-child {
  border-bottom: none;
}

.movie-table tbody tr:hover {
  background-color: #333333;
}

.movie-image {
  width: 50px;
  height: auto;
  border-radius: 5px;
}

.name-column {
  width: 25%;
}




@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}



/* Contenedor general del filtro */
.filter-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}


/* Opciones del filtro */
.filter-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Dropdowns */
.filter-dropdown {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.2s;
}


.filter-dropdown:hover {
  border-color: #999;
}

/* Botón de filtrar */
.filter-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filter-button:hover {
  color: #dddbdb;
}


.filter-button.active {
  color: #000000;
  background-color: var(--color-2);
}

select:disabled {
  background-color: #f0f0f0; /* Color de fondo gris */
  color: #999; /* Texto gris */
  cursor: not-allowed; /* Cursor indicando que está desactivado */
  opacity: 0.6; /* Reduce la opacidad */
}


.inputDate{
  width: 80px;
  height: 25px;
}








/* Contenedor de la Galería */
.gallery-container {
 
  display: grid;
  /*grid-template-columns: repeat(auto-fit, 120px);  */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  /*grid-template-columns: repeat(auto-fill, 120px);*/
  gap: 1rem;
  padding-left: 2rem;
  width: 98%; /* Ensure Full Width */
}

/* Tarjetas de Películas */
.movie-card {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 15%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


/* Imágenes en las Tarjetas */
.image {
  width: 120px;
  height: 180px; 
  object-fit: cover; 
  display: block;
}

.imageMusic {
  width: 150px;
  height: 150px; 
  object-fit: cover; 
  display: block;
}

.title{
  color: white; 
  text-align: left;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier texto que desborde del contenedor */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) al final del texto */
  max-width: 200px;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(160, 157, 157, 0.7); /* Rojo con algo de transparencia */
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none; /* Ocultamos el botón por defecto */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

/* Mostrar el botón de eliminar cuando se hace hover sobre la tarjeta */
.movie-card:hover .delete-button {
  display: flex; /* Mostrar el botón en hover */
}

.delete-button:hover {
  background-color: var(--color-2); /* Cambiar a rojo sólido cuando el ratón pasa sobre el botón */
}
