<div class="body">

    <div class="row" style="padding-right: 30px;">
        <div class="col-lg-6" style="padding-left: 3%; padding-top: 1%;">
            <h3>Pending</h3>
            <p style="color: #7a7a7a;">Explore and manage your pending items</p>
        </div>
        <div class="col-lg-6" style="padding-top: 1.5%;">
            <div class="search-actions">
                <div class="search-container">

                    <i class="uil uil-search search-icon"></i>

                    <input type="text" class="search-input" placeholder="Search..." >

                </div>

                <button *ngIf="!introVisible" (click)="getRandomItem()" class="action-button" [class.active]="false" ><i class="uil uil-dice-five"></i> </button>
                
                <div *ngIf="selectedItem === 'Animes'">
                        <button class="action-button" (click)="changeList()"
                            [class.active]="listSeasonActivate === true">Season</button>
                    </div>
                    
            </div>
        </div>
    </div>

    <header>
        <div class="row">
            <div class="filter-container">

                <div class="filter-options">
                    <button class="filter-button" (click)="goHome('Home')" [class.active]="selectedItem === 'Home'">
                        Home
                    </button>
                    <button class="filter-button" (click)="loadData('Animes')"
                        [class.active]="selectedItem === 'Animes'"><i class="uil"><img src="assets/img/Icons/anime.png"
                                class="icon">Animes</i></button>
                    <button class="filter-button" (click)="loadData('Movies')"
                        [class.active]="selectedItem === 'Movies'"><i class="uil"><img src="assets/img/Icons/movie.png"
                                class="icon">Movies</i></button>
                    <button class="filter-button" (click)="loadData('Series')"
                        [class.active]="selectedItem === 'Series'"><i class="uil"><img src="assets/img/Icons/show.png"
                                class="icon">Shows</i></button>
                    <button class="filter-button" (click)="loadData('Books')"
                        [class.active]="selectedItem === 'Books'"><i class="uil"><img src="assets/img/Icons/book.png"
                                class="icon">Books</i></button>
                    <button class="filter-button" (click)="loadData('Games')"
                        [class.active]="selectedItem === 'Games'"><i class="uil"><img src="assets/img/Icons/game.png"
                                class="icon">Games</i></button>
                    <button class="filter-button" (click)="loadData('Music')"
                        [class.active]="selectedItem === 'Music'"><i class="uil"><img src="assets/img/Icons/music.png"
                                class="icon">Music</i></button>

                   



                </div>
            </div>
        </div>

    </header>



    <!-- <div *ngIf="introVisible">
                    <div class="currentlyArea workingArea">
                        <h5>Currently Viewing</h5>
                        <div *ngIf="isListView" class="quadrature" style="width: 100%;">
                            <div class="row" style="margin-top: 1%;">
                                <div *ngFor="let cardData of viewData" class="col-lg-2 col-3 col-md-4">
                                    <div class="cardQuadrature filter">
                                        <img class="imagenQuadrature" [src]="cardData.image" alt="#">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>*/

                <div class="mainData" *ngIf="!introVisible">
                    
                    <div *ngIf="isListView" class="quadrature" style="width: 90%;">
                    <!-- <div class="row" style="margin-top: 1%;">
                            <div *ngFor="let cardData of data" class="col-lg-2 col-3 col-md-4">
                                <div class="cardQuadrature" [ngClass]="{'cardQuadratureActive': cardData.name === selectedData.name}">
                                    <img class="imagenQuadrature" [src]="cardData.image" alt="#">
                                </div>
                            </div>
                        </div>-->
    <div class="mainData" *ngIf="!introVisible">


        <div class="gallery-container">


            <div class="movie-card" *ngFor="let movie of resultFilter">
                <div class="cardImage" (click)="openModal(movie)">

                    <div *ngIf="selectedItem !== 'Music'">
                        <img class="image" title="{{ movie.name }}" [src]="movie.image" [alt]="movie.name"
                            [ngClass]="{'cardQuadratureActive': movie.name === selectedData.name}" />
                    </div>
                    <div *ngIf="selectedItem === 'Music'">
                        <img class="imageMusic" title="{{ movie.name }}" [src]="movie.image" [alt]="movie.name"
                            [ngClass]="{'cardQuadratureActive': movie.name === selectedData.name}" />
                    </div>

                </div>



                <button *ngIf="selectedItem === 'Animes'" class="delete-button" (click)="addListSeason(movie)">
                    <i class="uil uil-eye"></i>
                </button>

                <div class="stars">
                    <p class="title">{{movie.name}}</p>
                </div>
            </div>
        </div>




    </div>

     <div class="row " style="height: 30px;">
        <div class="col-lg-2" style="padding-left: 3%;">
            <p style=" margin-top: 2.5%;">
                <i class="uil uil-info-circle"></i>
                Total: {{ resultCount }}
            </p>
        </div>
    </div>





    <div class="loading-overlay" *ngIf="loading">
        <div class="loading-spinner"></div>
    </div>

</div>