.body{
    margin-top: 10px;
    background-color: #121212;
    margin-bottom: 10px;
    border-radius: 10px;
    height: calc(102vh - 60px);
    position: relative;

}

.workingArea{
  margin-left: 5%;
  margin-right: 5%;
}

.list{
    max-height: calc(94vh - 60px);
    overflow-y: auto;
    width: 100%;
    margin: auto;
}

.list::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento vertical en navegadores webkit */
}

.card{
    background-color: #252525;
    margin-top: 2%;
}

button{
    background-color: transparent; 
    color: white; 
    margin-right: 2%;
   border: none;
  }

  header {
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    text-align: right;
    border-radius: 10px;
}

.imagen{
    width: 80%; 
    height: 180px;
   
    border: 1px solid #000000;
    border-radius: 10px;
    
  }



  .iconCard{
    font-size: 15px;
}

.btnCard{
    background-color: #807d7d;
    margin-left: 15%;
}

.btnCard:hover{
    color: black;
    background-color: var(--color-2);
}

.b1{
    background-color: transparent; 
    color: white; 
    border-radius: 5px;
    border: 1px solid #ffffff;
  }

  .b1:hover{
    background-color: var(--color-2);
    color: black;
    border-color: transparent;
    border-radius: 5px;
  }






  .tags {
    color: #807d7d;
    font-size: 0.9em;
}

.release-date {
    color: #807d7d;
    font-size: 0.9em;
}




.liked {
    background-color: var(--color-2);
    color: black;
}

.not-liked {
    background-color: gray;
}




 /* Estilos para la animación de carga */
 .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767); /* Fondo oscurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima del modal */
  }
  

  .cardQuadrature {
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: none;
  }

  .quadrature{
    max-height: calc(95vh - 60px);
    overflow-y: auto;
    width: 100%;
    margin: auto;
  }


  .quadrature::-webkit-scrollbar {
    width: 0; 
  }
  
  .form-check-label + .form-check-label {
    margin-left: 10px; /* Ajusta este valor según tus necesidades */
  }
  

  .imagenQuadrature{
    width: 100%; 
    height: 250px;
    border: 1px solid #000000;
    border-radius: 10px;
  }

  .togle{
    margin-right: 3%;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  

  .star-rating {
    font-size: 2rem; /* Tamaño de las estrellas */
    color: gray; /* Color de las estrellas sin seleccionar */
    margin-top: 0%;
  }
  
  .star-rating .selected {
    color: gold; /* Color de las estrellas seleccionadas */
  }
  
  .star-rating span {
    cursor: pointer; /* El cursor cambia cuando se pasa por encima */
  }


  select{
    margin-top: 5%;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: transparent;
  }
  
  select option {
    
    background-color: var(--color-1); 
    color: var(--color-text); 
  }

  .intro {
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
  }
  .intro h1 {
    font-size: 4em;
    margin: 0;
  }
  .intro h2 {
    font-size: 2em;
    margin: 0;
  }
  
  .intro p {
    font-size: 1.2em;
    margin-top: 1em;
  }



  
  .table-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .movie-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color:#1e1e1e;
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
  }
  


  .movie-table th,
  .movie-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .movie-table th {
    background-color: #3a3a3a;
    font-weight: bold;
    font-size: 16px;
    background-color: #252525;
  }
  
  .movie-table tbody tr {
    border-bottom: 1px solid #444;
  }
  
  .movie-table tbody tr:last-child {
    border-bottom: none;
  }
  
  .movie-table tbody tr:hover {
    background-color: #333333;
  }
  
  .movie-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
  }

  .name-column {
    width: 30%;
  }

  
  /* Responsive Design */
  @media (max-width: 600px) {
    .movie-table thead {
      display: none; /* Oculta el encabezado en pantallas pequeñas */
    }
  
    .movie-table,
    .movie-table tbody,
    .movie-table tr,
    .movie-table td {
      display: block;
      width: 100%;
    }
  
    .movie-table tr {
      margin-bottom: 15px;
      border-bottom: 1px solid #444;
      padding: 10px;
      background-color: #1e1e1e;
    }
  
    .movie-table td {
      text-align: right;
      padding: 10px 10px 10px 40%;
      position: relative;
    }
  
    .movie-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      font-weight: bold;
      color: #bbb;
      text-transform: uppercase;
    }
  
    .movie-image {
      width: 100%;
      max-width: 100px;
      margin: 0 auto;
      display: block;
      border-radius: 8px;
    }

    .cardQuadrature{
      margin: 0;
    }
    .imagenQuadrature{
        width: 100%;
        height: 90px;
      }
  }




    /**/


    .genre-row {
      display: flex;
      justify-content: space-between;
      
      flex-wrap: wrap; /* Para que las cajas se acomoden en varias filas si es necesario */
  }
  
  .genre-box {
      background-color: #1e1e1e;
      color: white;
      padding: 30px;
      border-radius: 10px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      flex-basis: calc(16% - 20px); /* Ajuste del tamaño para que quepan 5 cajas en una fila */
      margin-top: 10px;
      margin-bottom:10px ;
      font-size: 1.5em;
  }
  
  .genre-box:hover {
      background-color: var(--color-2);
      color: black;
  }

  
  .menu{
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .bannerArea {
    position: relative;
    z-index: 0;
    height: 300px;
    padding-top: 1%;
  }
  
  .bannerArea::before {
    position: absolute;
    z-index: -1; /* Envía la imagen detrás del contenido */
    content: "";
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(18, 18, 18) 100%), url('../../../assets/banner.jpg');
    opacity: 0.2;
  }