
<!--
    <ngx-charts-bar-vertical
    [results]="data"
    [scheme]="colorScheme"
    [legend]="showLegend"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    autoScale
  >



  </ngx-charts-bar-vertical>-->
<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 60%; padding-top: 30%;" >
  <ngx-charts-line-chart
    [scheme]="colorScheme"
    [results]="data"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="false"
    [autoScale]="true"
    [timeline]="false" 
    [curve]="curve"
    [animations]="true"
    [showGridLines]="true"
    [roundDomains]="true"
    [tooltipDisabled]="false"
    [showRefLines]="false"
    [view]="[350, 250]"
  >
  </ngx-charts-line-chart>



</div>