<div class="container col-lg-12" style="margin-top: 5%;">
        <div class="top col-lg-12" style="margin-bottom: 3%;">
            <a href="./"><img class="imgTitle" src="./assets/img/prisma2.png" style="height: 90%;"></a>
        </div>  
        <div class="table-container">
           <!--  
              <div cdkDropList class="row" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let card of recomendaciones" cdkDrag class="col-lg-12">
                  <div class="card container">
                      <div class="row g-2">
                          <div class="col-2">
                            <div class="p-3"><i class="uil uil-chart-pie"></i></div>
                          </div>
                          <div class="col-6">
                            <div class="p-3">{{card.name}}</div>
                          </div>
                          <div class="col-lg-4 col-12">
                            <div class="p-3">{{card.type}}</div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>

           -->
              
           <!--<div cdkDropList class="row">
            <div *ngFor="let card of recomendaciones" cdkDrag class="col-lg-12">
              <div class="card container">
                  <div class="row g-2">
                      <div class="col-2">
                        <div class="p-3"><i class="uil uil-chart-pie"></i></div>
                      </div>
                    <div class="left col-lg-4 col-3" style="text-align: center; margin: 1%;">
                        <img class="imagen" [src]="card.images.jpg.image_url" alt="#"  />
                    </div>
                      <div class="col-6">
                        <div class="p-3">{{card.title}}</div>
                      </div>
                  </div>
              </div>
            </div>
          </div>-->

          <div cdkDropList class="row">
           
              <div *ngFor="let card of recomendaciones" cdkDrag class="col-lg-2 col-4 col-md-4">
                <div class="card container">
                  <img class="imagen" [src]="card.images.jpg.image_url" alt="#"  />
                </div>
              </div>
          </div>
          

            

              
        </div>
</div>
