<div class="container col-lg-12" style="margin-top: 5%;">
        <div class="top col-lg-12" style="margin-bottom: 3%;">
            <a href="./"><img class="imgTitle" src="./assets/img/prisma2.png" style="height: 90%;"></a>
        </div>  
        <div class="table-container">

          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
                </ul>
                <div class="d-flex" role="search">
                  <input   class="form-control me-2" type="search" placeholder="Nombre" aria-label="Search"
                    name="searchTerm">
                  <button  class="btn btn-outline-success">Buscar</button>
                </div>
              </div>
            </div>
          </nav>

          <div cdkDropList class="row">
           
              <div *ngFor="let cardAnime of animes" cdkDrag class="col-lg-2 col-4 col-md-4">
                <div class="card container">
                  <img class="imagen" [src]="cardAnime.images.jpg.image_url" alt="#"  />
                  <button (click)="saveAnime(cardAnime)">click</button>
                </div>
              </div>
          </div>


        

          <div cdkDropList class="row" style="background: black;">
            <div *ngFor="let card of recomendaciones" cdkDrag class="col-lg-2 col-4 col-md-4">
              <div class="card container">
                <img class="imagen" [src]="card.images.jpg.image_url" alt="#"  />
              </div>
            </div>
        </div>
          

            

              
        </div>
</div>
