

.body {
    margin-top: 10px;
    background-color: #121212;
    margin-bottom: 10px;
    border-radius: 10px;
    height: calc(102vh - 60px);
    text-align: start;
  }

.list{
    height: calc(90vh - 60px); /* Ajusta el valor según tus necesidades */
    overflow-y: auto;
  }

  .list::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento vertical en navegadores webkit */
}

/* Imágenes en las Tarjetas */
.image {
  width: 120px;
  height: 180px; 
  object-fit: cover; 
  display: block;
}



 /* Estilos para la animación de carga */
 .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767); /* Fondo oscurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima del modal */
  }
  
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  



/* Contenedor de la Galería */
.gallery-container {
 
  display: grid;
  /*grid-template-columns: repeat(auto-fit, 120px);  */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  /*grid-template-columns: repeat(auto-fill, 120px);*/
  gap: 1rem;
  padding-left: 2rem;
  width: 98%; /* Ensure Full Width */
}

/* Tarjetas de Películas */
.movie-card {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.movie-card-collection {
  width: 100%;
  overflow: hidden;
}


.card{
    background-color: transparent;
    height: 200px;
}




/* Contenedor de Estrellas */
.stars {
  display: flex;
  justify-content: center;
  
}

/* Estilo de las Estrellas */
.star {
  font-size: 1.3rem;
  color: #cccccc44; /* Color for Empty Stars */
  margin: 0 0.1rem;
  transition: color 0.3s;
}


.star.filled {
  color: #ffc1077c; /* Color for Filled Stars */
}

.movie-card:hover .star.filled {
  color: #ffc107; /* Las estrellas se vuelven opacas durante el hover */
}