<!--<div>
    <app-carrousel-info [type]= "'Ultimo'" [data]="animesAiring"></app-carrousel-info>
</div>-->



<div>
  <nav class="navbar navbar-expand-lg " aria-label="Fifth navbar example" style="margin-bottom: 2%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white;">Albums</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample05">
        
        <form style="width: 50%; margin-left: auto;" (submit)="searchData()">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input [(ngModel)]="search" name="searchField" class="form-control" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
  </nav>

      <div class="table-container">
        <div class="row">
          <div *ngFor="let cardData of data" class="col-lg-2 col-6 col-md-4">
            <div class="card">
                <div class="contenedor">
                    <img (click)="openModal(cardData)" class="imagen" [src]="cardData.image" alt="#">
                    
                    <div class="centrado">{{ cardData.randomData }} <i class="uil uil-music"></i></div>
                </div>
              <p class="title">{{cardData.name}}</p>
            </div>
          </div>
        </div>
  
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a (click)="restNumber()" class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            
          </li>
          <li class="page-item">
            <a (click)="aumentarNumero()" class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
   
</div>