.card {
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: none;
  }

  .imagen{
    width: 100%; 
    height: 250px;
   
    border: 1px solid #000000;
    border-radius: 10px;
    
  }

  .title{
    color: white; 
    text-align: left;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier texto que desborde del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) al final del texto */
    max-width: 200px;
}

button{
    background-color: transparent; 
    color: white; 
    margin-right: 2%;
   border: none;
  }
  
  .b1{
    background-color: transparent; 
    color: white; 
    border-radius: 5px;
    margin-right: 2%;
    border: 1px solid #ffffff;
  }
  
  button:hover{
    background-color: rgb(229, 255, 0);
    color: black;
    border: none;
    border-radius: 5px;
  }
  
  .perfil-button {
    background-color: transparent; /* Azul */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



.buttonNav{
  font-size: 30px;
}




.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  

  
  .centrado {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    transform: translate(0, 0);
    background-color: #4e2394;
    padding: 2%;
    border-radius: 20px;
  }
  

  select{
    width: 80%;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: transparent;
}

select option {
    background-color: var(--color-1); 
    color: var(--color-text); 
  }


  .form-control{
    color: white;
    background-color: transparent;
  }

  .form-control::placeholder {
    color: #b7b7b89f;
  }

  .input-group-text{
    background-color: var(--color-2);
  }

  .form-control:focus{
    box-shadow: none;
    border-color: white;
  }

  .page-link{
    color: #b7b7b89f;
    background-color: transparent;
  }


  /* Estilo para dividir el dropdown en 6 columnas */
.dropdown-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2px; /* Espacio entre las columnas */
}

.dropdown-columns li {
  width: 15%; /* Cada columna ocupará un 16.66% del ancho (6 columnas) */
  list-style-type: none;
  font-size: 12px;
}

/* Fondo rojo para el espacio entre las columnas */
.dropdown-menu{
  width: 800px;
  
}

/* Ajuste para pantallas pequeñas (opcional) */
@media (max-width: 768px) {
  .dropdown-columns li {
    width: 100%; /* En pantallas pequeñas, las opciones ocuparán el 100% */
  }
}


