<div class="body col-lg-12 col-12" >
        <div class="header col-lg-12" style=" margin-left: 20%; margin-right: 15%;margin-top: 20%;">       
            <img src="./assets/img/prisma1.png" style="width: 280px; height: 180px;">
        </div>
        <div class="menu col-lg-12" style="margin-left: 20%; margin-right: 20%;">
            <ul>
                <li><a (click)="navegarAComponenteDestino('Peliculas')">Peliculas</a></li>
                <li><a (click)="navegarAComponenteDestino('Series')">Series</a></li>
                <li><a (click)="navegarAComponenteDestino('Anime')">Anime</a></li>
                <li><a (click)="navegarAComponenteDestino('Juegos')">Juegos</a></li>
                <li><a (click)="navegarAComponenteDestino('Libros')">Libros</a></li>
                
            </ul>
        </div>
       
       
        
</div>
