
a{
    cursor: pointer;
}

a:hover{
    opacity: 50%;
}

.menu{
    font-size: 1.5rem;
}

.imgTitle{
    width: 280px; 
    height: 180px;
    margin-left: 20%;
}

.btnMenu{
    font-size: 2rem;
}

button{
    color: white;
    background-color: transparent;
    border-style: solid;
    border-color: white;
}



@media (max-width:1000px) {
    .btnMenu {
        display: block !important; /* Puedes usar "inline-block" u otro valor según tus necesidades */
    }

    .menu{
        display: none;
    }

    .imgTitle{
        width: 80%;
        margin-left: 20%;
    }
}
