
/*a{
    cursor: pointer;
}

a:hover{
    opacity: 50%;
}

.menu{
    font-size: 1.5rem;
}

.imgTitle{
    width: 280px; 
    height: 180px;
    margin-left: 20%;
}

.btnMenu{
    font-size: 2rem;
}

button{
    color: white;
    background-color: transparent;
    border-style: solid;
    border-color: white;
}



@media (max-width:1000px) {
    .btnMenu {
        display: block !important;
    }

    .menu{
        display: none;
    }

    .imgTitle{
        width: 80%;
        margin-left: 20%;
    }
}*/

.menuprin{
    background-color: transparent; 
    border-radius: 2%; 
    padding: 1%; 
    margin-bottom: 2%;
    cursor: pointer;
}

.menuprin:hover{
    background-color: #252525; 
}

.column{
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
    height: calc(45vh - 60px);
}

.columnDesc{
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
    height: calc(62.5vh - 60px);
   
}



.imgTitle{
    width: 140px; 
    height: 90px;
    margin-left: 2%;
    margin-top: 2%;
}

.link{
    margin-bottom: 5%;
    cursor: pointer;
    width: 80%;
}

.link:hover{
    background-color: rgba(255, 255, 255, 0.123);
}

.b1{
    background-color: var(--color-2);
    color: black; 
    border-radius: 5px;
    margin-right: 2%;
    border: 1px solid #000000;
  }

  
  button:hover{
    
    color: white;
    border-color: transparent;
    border-radius: 5px;
  }

  i{
    color: rgba(255, 255, 255, 0.473);
  }














.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.menu li {
  width: 100%;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.menu li a:hover {
  background-color: #1f1f1f;
  color: #fff;
  padding-left: 25px;
}

.section-title {
    padding: 15px 20px 8px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #7a7a7a;
    text-transform: uppercase;
}

hr {
    border: none;
    border-top: 1px solid #6d6969;
    
}
