


<!--<div class="body col-lg-12 col-12" style="margin-top: 5%;">
    <div class="row">
        <div class=" col-lg-10 col-9" style="margin-top: 15%;">       
            
            <a href="./"><img class="imgTitle" src="./assets/img/prisma2.png" style="height: 90%;"></a>
        </div>
        <div class=" btnMenu col-lg-2 col-3" id="btnMenu" style="display: none; margin-top: 15%;">       
            <button (click)="toggleMobileMenu()" style="margin: 0%;"><i class="uil uil-list-ul"></i></button>
        </div>
    </div>
   
   <div class="menu col-lg-12" id="menu" style="margin-left: 20%; margin-right: 20%;">
        <ul >
            <li><a (click)="navegarAComponenteDestino('Peliculas')">Peliculas</a></li>
            <li><a (click)="navegarAComponenteDestino('Series')">Series</a></li>
            <li><a (click)="navegarAComponenteDestino('Animes')">Anime</a></li>
            <li><a (click)="navegarAComponenteDestino('Juegos')">Juegos</a></li>
            <li><a (click)="navegarAComponenteDestino('Libros')">Libros</a></li>
        </ul>
    </div>
</div>-->



<div class="menu px-4">
    
    <div class="row gx-5">
        <div class="column col-lg-12" style="background-color: #121212;">
            <div class="top col-lg-12 d-flex justify-content-between" style="margin-bottom: 3%;">
                    <a href="./"><img class="imgTitle" src="./assets/img/prisma2.png" style="height: 90%;"></a>
                    <i class="uil uil-user" style="color: white; font-size: 2.5rem;"></i>

            </div>
            <div class="link" (click)="navegarDiscoverPage()">
                <h5><i class="uil uil-search"></i> Descubrir</h5>
            </div>
            
            <div class="link"  (click)="navegarAComponenteDestino('Games')" >
                <h5><i class="uil uil-apps"></i> Biblioteca</h5>
            </div>
            <div class="link" (click)="navegarPendingList()">
                <h5><i class="iconModal uil uil-bookmark"></i> Pendientes</h5>
            </div>

        </div>

        <div class="columnDesc col-lg-12" style="background-color: #121212; ">
           
            <div style="background-color: #252525; border-radius: 2%; padding: 5%; margin-top: 5%;"  >
                    <h5>Crea tu propio registro</h5>
                    <p style="font-size: 0.8rem;">En el caso de no encontrar la informacion en la seccion de descubrimiento, Cree tu propio registro.</p>
                    <button class="b1 btn" (click)="navegarCreate()">Crear</button>
            
            </div>

            <div style="background-color: #252525; border-radius: 2%; padding: 5%; margin-top: 5%;"  >
                <h5>Tier</h5>
                <p style="font-size: 0.8rem;">Te permite ver una lista de niveles segun la puntuacion dada.</p>
                <button class="b1 btn" (click)="navegarTier()">Crear</button>
        
        </div>
           
            


        </div>
    </div>

</div>