<div class="modalPrin">
    <div class="modal-header">
        <h4 class="modal-title">{{data.name}}</h4>
        <button class="btnClose" aria-label="Cerrar" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-3">
                <img id="myImage" class="imagen" [src]="data.image" alt="#">
            </div>

            <div class="col-lg-9" >
                <div class="row col-lg-12">
                    <div class="col-lg-10">
                        <p class="synopsis">{{data.info}}</p>
                    </div>
                    <div class="col-lg-2" style="text-align: right;">
                        <button class="btnPending btn" (click)="this.saveReco()"><i
                                class="iconModal uil uil-bookmark"></i></button>
                    </div>
                </div>

                <div class="row col-lg-12" >

                    <div class="col-lg-6"  *ngIf="type !== 'Games'" >
                        <p>Release date: {{data.releaseDate}}</p>
                    </div>
                    <div class="col-lg-6" *ngIf="type == 'Animes' || type == 'Movies' || type == 'Series'">
                        <p>Score: {{data.randomData}}</p>
                    </div>
                    <div class="col-lg-6" *ngIf="type == 'Books'">
                        <p>Page count: {{data.randomData}}</p>
                        <p>Author: {{data.author}}</p>
                    </div>
                    <div class="col-lg-6" *ngIf="type == 'Games'">
                        <p>Plataform: {{data.randomData}}</p>
                    </div>
                    <div class="col-lg-6" *ngIf="type == 'Music'">
                        <p>Total Tracks: {{data.randomData}}</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="row col-lg-12">
                    <div class="col-lg-3 star-rating" style="text-align: center;">
                        <span style="margin: 0; padding: 0;" *ngFor="let star of stars; let i = index"
                            (click)="rate(i + 1)" [ngClass]="{'selected': (i + 1) <= dataModal.score}">
                            &#9733;
                        </span>
                    </div>
                    <div class="col-lg-1">
                        <div *ngIf="type == 'Books'" >
                            <select id="kind" name="kind" [(ngModel)]="dataModal.kind" style="width: 100%;">
                                <option *ngFor="let opcion of opKind" [value]="opcion">{{ opcion }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <input class="date" type="date" id="date" name="date" [(ngModel)]="data.date" required
                            style="width: 100%;">
                    </div>

                    <div class="col-lg-3">
                        <div *ngIf="type !== 'Music'">
                            <select id="type" name="type" [(ngModel)]="dataModal.type" style="width: 100%;">
                                <option *ngFor="let opcion of categories" [value]="opcion.id">{{ opcion.name }}</option>
                            </select>
                        </div>
                        <div *ngIf="type == 'Games'" >
                            <input class="date" type="number" id="dateR" name="dateR" [(ngModel)]="dataModal.releaseDate" required
                            style="width: 100%;">
                        </div>
                    </div>

                    <div class="col-lg-2" style="display: flex; align-items: center; justify-content: center;">
                        <button class="btn btnModal" (click)="this.save()"><i  class="iconModal uil uil-save"> Save</i></button>
                    </div>
                </div>
            </div>

            
        </div>

        <div class="loading-overlay" *ngIf="loading">
            <div class="loading-spinner"></div>
        </div>

    </div>
</div>