.card{
    background-color: var(--color-1);
    color: var(--color-text);
    border-style: solid;
    border-color: var(--color-text);
}

.etiqueta {
    width: 50%;
    background-color: yellow;
    color: black;
    box-shadow: 0 0 29px #3c3c3c6b;
    border-radius: 5px;
    font-family: 'Hedvig Letters Serif', serif;
    text-align: center;
    text-decoration: none;
}

.imagen{
    width: 90%; 
    height: 130px;
}

.star {
    font-size: 18px; 
    color: gray;   
    cursor: pointer;  

    
  }
  
  .filled {
    color: gold; 
  }

 select{
    border: none;
    background: none;
    font-size: 1.2rem;
    color: var(--color-text);
    margin-left: 1%;
 } 

 select option {
    background-color: var(--color-1); 
    color: var(--color-text); 
  }

  @media (max-width:1000px) {
   /*.imagen{
        width: 50%;
        height: 210px;
    }*/

    .card{
      width: 100%;
    }

    .imagen{
      width: 100%;
      height: 100px;
      margin-top: 15%;
    }

    .etiqueta{
      
    }

    .star{
      
    }

}

