<!--<div class=" d-flex flex-wrap">
        <div class="list" style="display: flex; flex-wrap: wrap;">

            <div class="container">
                <div class="row">
                    <div *ngFor="let cardData of resultFilter; let i = index" class="col-lg-2 col-6 col-md-4">
                        <div class="card" (click)="toggleInfo(i)">

                            <div class="contenedor">
                                <img [ngClass]="{'imagenMusica': type === 'Music', 'imagen': type !== 'Music'}"
                                    [src]="cardData.image" alt="#">
                                <div class="triangulo"></div>
                                <div class="centrado">
                                    {{cardData.score}}<span class="star" [class.filled]="1">&#9733;</span>
                                </div>

                                <div class="info" [class.visible]="selectedCardIndex === i">
                                    <div class="row col-lg-12">
                                        <div class=" col-lg-12">
                                            <p class="invert invertTitle" [style.color]="getColor(cardData.score)">
                                                {{cardData.name}}</p>
                                        </div>
                                        <div class=" col-12" style="margin-top: 5%;">
                                            <p class="invert">{{cardData.date}}</p> <br>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class=" star-rating">
                                                <span style="margin: 0; padding: 0;"
                                                    *ngFor="let star of stars; let i = index"
                                                    (click)="rate(cardData, i + 1)"
                                                    [ngClass]="{'selected': (i + 1) <= cardData.score}">
                                                    &#9733;
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="margin-top: 5%;">
                                        <button (click)="deleteData(cardData)"
                                            style="margin-top: 5%; width: 100%;  border: 1px solid #ffffff;">Delete</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>-->





<div class="body">
    <header>
        <div class="row">
            <div class="filter-container">
                <div class="filter-options">
                    <button class="filter-button" (click)="loadData('Animes')"
                        [class.active]="selectedItem === 'Animes'"><i class="uil">Animes</i></button>
                    <button class="filter-button" (click)="loadData('Movies')"
                        [class.active]="selectedItem === 'Movies'"><i class="uil">Movies</i></button>
                    <button class="filter-button" (click)="loadData('Series')"
                        [class.active]="selectedItem === 'Series'"><i class="uil">Shows</i></button>
                    <button class="filter-button" (click)="loadData('Books')"
                        [class.active]="selectedItem === 'Books'"><i class="uil">Books</i></button>
                    <button class="filter-button" (click)="loadData('Games')"
                        [class.active]="selectedItem === 'Games'"><i class="uil">Games</i></button>
                    <button class="filter-button" (click)="loadData('Music')"
                        [class.active]="selectedItem === 'Music'"><i class="uil">Music</i></button>

                    <select *ngIf="selectedItem == 'Books'" class="filter-dropdown" id="opKind" (change)="filterKind($event)">
                        <option value="Todos">Tipo: Todos</option>
                        <option *ngFor="let opcion of opKind" [value]="opcion">{{ opcion }}</option>
                    </select>

                    <select class="filter-dropdown" id="opTipos" (change)="filterType($event)">
                        <option value="Todos">Categoria: Todos</option>
                        <option *ngFor="let opcion of opTipos[0]" [value]="opcion">{{ opcion }}</option>
                    </select>

                    <select class="filter-dropdown" id="opAnios" (change)="filterYear($event)">
                        <option *ngFor="let opcion of opAnios" [value]="opcion" [selected]="opcion === opAnios[1]">{{
                            opcion }}</option>
                    </select>

                    <select class="filter-dropdown" id="opCalificacion" (change)="filterScore($event)">
                        <option value="Todos">Calificacion: Todos</option>
                        <option *ngFor="let opcion of opCalificacion" [value]="opcion">{{ opcion }}</option>
                    </select>

                    <button (click)="sortDataByScore()" class="filter-button" [class.active]="currentSortOrder === 'asc'"><i class="uil"
                            [ngClass]="{'uil-sort-amount-up': currentSortOrder === 'asc', 'uil-sort-amount-down': currentSortOrder === 'desc'}"></i></button>

                    <button (click)="dateView()" class="filter-button" [class.active]="isDateView === true"><i class="uil uil-calendar-alt"></i></button>
    
                    <button *ngIf="selectedItem !== 'Books'" (click)="watchActualRelease()" [class.active]="isActualRelease === true" class="filter-button">Release</button>
                    <!--<button  (click)="loadAchievements()"  *ngIf="selectedItem === 'Games'" class="filter-button" ><i class="uil uil-award"></i></button>-->

                    <button class="filter-button" [class.active]="true"><i class="uil">{{resultCount}}</i></button>


                </div>
            </div>
        </div>
    </header>


    <div *ngIf="!isDateView" class="list">
        <div class="gallery-container">
          <div class="movie-card" *ngFor="let movie of resultFilter">
            <div class="cardImage">
              <img title="{{movie.name}}" [src]="movie.image" [alt]="movie.name" />
             <!-- <input type="number" id="date" name="date" [(ngModel)]="movie.releaseDate" required style="width: 100%;">-->
            </div>

            <button class="delete-button" (click)="deleteData(movie)">
                ×
              </button>

            <div class="stars">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                <i
                  class="star"
                  [ngClass]="{'filled': i < movie.score}"
                  aria-hidden="true"
                >★</i>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      
   <div *ngIf="isDateView"  class="list" >
    <div *ngFor="let item of months; let i = index">

        <div style=" padding-left: 2%;" >
            <p>-- {{item.name}} --</p>
        </div>

            <div class="gallery-container">
                <div class="movie-card" *ngFor="let movie of dataFilterByDate(resultFilter, item.number)">
                    <div class="cardImage">
                        <img title="{{movie.name}}" [src]="movie.image" [alt]="movie.name" />
                    </div>

                    <button class="delete-button" (click)="deleteData(movie)">
                        ×
                    </button>

                    <div class="stars">
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                            <i class="star" [ngClass]="{'filled': i < movie.score}" aria-hidden="true">★</i>
                        </ng-container>
                    </div>
                </div>
            </div>
    </div>
</div>

    <div class="loading-overlay" *ngIf="loading">
        <div class="loading-spinner"></div>
    </div>

</div>