
.list{
  max-height: calc(105vh - 60px); /* Ajusta el valor según tus necesidades */
  overflow-y: auto;
  width: 100%;
}


.card{
    background-color: #252525;
    
    color: var(--color-text);
    border-style: solid;
    border-color: var(--color-text);
    /*border-color: gold;*/
    font-size: 0.8rem;
    margin-bottom: 3%; 
    margin-left: 4%; 
    margin-right: 4%;
}




.etiqueta {
    width: 50%;
    background-color: yellow;
    color: black;
    box-shadow: 0 0 29px #3c3c3c6b;
    border-radius: 5px;
    font-family: 'Hedvig Letters Serif', serif;
    text-align: center;
    text-decoration: none;
}

.imagen{
    width: 90%; 
    height: 130px;

}




.star {
    font-size: 18px; 
    color: gray;   
    cursor: pointer;  

    
  }
  
  .filled {
    color: gold; 
  }

 select{
    border: none;
    background: none;
    font-size: 1.2rem;
    color: var(--color-text);
    margin-left: 1%;
 } 

 select option {
    background-color: var(--color-1); 
    color: var(--color-text); 
  }



  button{
    border: none;
    background: none;
    font-size: 1.2rem;
    color: var(--color-text);
    margin-left: 1%;
  }

  .body{
    margin-top: 10px;
    background-color: #121212;
    margin-bottom: 10px;
    border-radius: 10px;
    
   
}


  .container{
    height: calc(78vh - 60px);
    overflow-y: auto;
    align-items: end;
  }

  .container::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento vertical en navegadores webkit */
}




  @media (max-width:1000px) {
   /*.imagen{
        width: 50%;
        height: 210px;
    }*/

    .card{
      width: 100%;
      margin: 0%;
      margin-bottom: 2%;
    }

    



    .imagen{
      width: 100%;
      height: 100px;
      margin: 15%;
    }

    .etiqueta{
      font-size: 0.8rem;
    }

    select {
      font-size: 1rem;
    }
    


}

