.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 9998;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    min-width: 320px;
    height: 100vh;
    z-index: 9999;
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 0 12px rgba(0, 0, 0, .25);
    animation: slide .3s ease;
    background-color: #121212;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    background-color: #121212;
    color: white;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.699);
    flex: 1;
    margin: 16px 0;
    padding: 12px;
    resize: none;
}

.send {
    padding: 12px;
    background:  var(--color-2);
    color: black;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #000000;
}

 button:hover{
    border-color: transparent;
    border-radius: 5px;
  }

  .btnClose {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}