.content{
    font-family: 'Orbitron', sans-serif;

    font-size: 1.2rem;

}

.graficos {
    align-items: center;
    justify-content: center;
   /* margin-left: 10%;*/

}

.columnas{
    margin-left: 10%;
}


/* Estilos específicos para pantallas más pequeñas (móviles) */
@media (max-width:1000px) {

    .graficos{
        margin: 0%;
    }
    .content{
        font-size: 0.8rem;
    }

    .columnas{
        margin: 0%;
    }

}