

.container{
    background-color: red;
}


i{
    font-size: 50px;
}

.app-discover-page {
    /* Establecer una altura máxima para el contenido */
    max-height: 400px; /* ajusta según sea necesario */

    /* Hacer que el contenido sea desplazable */
    overflow-y: auto;

    /* Opcional: agregar un padding para evitar que el contenido se pegue a los bordes */
    padding-right: 15px; /* ajusta según sea necesario */
}

