<!--<ngx-charts-bar-vertical
[view]="view"
scheme="flame"
[results]="datos"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
(select)="onSelect($event)"
style="fill: white;">
</ngx-charts-bar-vertical>-->


<ngx-charts-bar-horizontal
[view]="view"
scheme="flame"
[results]="datos"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
(select)="onSelect($event)"
style="fill: white;">
</ngx-charts-bar-horizontal>