<div *ngIf="loading" style="color: yellow; margin-left: 3%;">
    <!-- Agrega aquí tu componente de carga o una animación -->
    <p>Cargando...</p>
  </div>
  
  <div *ngIf="!loading">
    <!-- Muestra el gráfico solo cuando loading es false -->
    <ngx-charts-bar-horizontal
      [view]="view"
      scheme="flame"
      [results]="datos"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)"
      style="fill: white;">
    </ngx-charts-bar-horizontal>
  </div>