.body{
    margin-top: 10px;
    background-color: #121212;
    margin-bottom: 10px;
    border-radius: 10px;
    height: calc(102vh - 60px);
   
}

mat-icon {
  margin-right: 10px;
}

nav {
    background-color: #121212; /* Cambia #2c3e50 por el color que desees */
  }



h4{
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%;
}


.list{
    max-height: calc(92vh - 60px); /* Ajusta el valor según tus necesidades */
    overflow-y: auto;
  }

  .list::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento vertical en navegadores webkit */
}


.navbar {
  background-color: transparent;
}

.navbar-nav .nav-link {
  padding: 5px 20px;
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #ccc;
}

.navbar-nav .nav-link.active {
  border-radius: 5px;
  color: #000000;
  border: 1px solid #000000;
  background-color: var(--color-2);
  
}



/* Estilos para el botón */






 /* Estilos para la animación de carga */
 .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767); /* Fondo oscurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima del modal */
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}


.navbar-brand{
  display: none;
}


@media (max-width: 767.98px) {

 
     .imagen{
       height: 180px;
     }
 
     .title{
        display: none;
     }

     .cardCircule {

      margin-left: 20%;
    }

    .navbar-nav{
      margin-top: 2%;
      background-color: #242424;
      border-radius: 5%;
    }

    .navbar-brand{
      display: block;
      color: #fff;
    }

    .CarrouselClass{
      display: none;
    }

 
 }




 .intro {
  text-align: left;
  margin-top: 15%;
  margin-left: 10%;
}
.intro h1 {
  font-size: 4em;
  margin: 0;
}
.intro h2 {
  font-size: 2em;
  margin: 0;
}

.intro p {
  font-size: 1.2em;
  margin-top: 1em;
}













header {
  background-color: transparent;
  color: #fff;
  padding: 5px 20px;
  text-align: right;
  border-radius: 10px;
}

.infoBody{
    height: calc(92vh - 60px); /* Ajusta el valor según tus necesidades */
    overflow-y: auto;
}

.infoBody::-webkit-scrollbar {
  width: 0; /* Oculta la barra de desplazamiento vertical en navegadores webkit */
}



/* Contenedor general del filtro */
.filter-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}


/* Opciones del filtro */
.filter-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Dropdowns */
.filter-dropdown {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.2s;
}


.filter-dropdown:hover {
  border-color: #999;
}

/* Botón de filtrar */
.filter-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filter-button:hover {
  color: #dddbdb;
}


.filter-button.active {
  color: #000000;
  background-color: var(--color-2);
}

select:disabled {
  background-color: #f0f0f0; /* Color de fondo gris */
  color: #999; /* Texto gris */
  cursor: not-allowed; /* Cursor indicando que está desactivado */
  opacity: 0.6; /* Reduce la opacidad */
}




