<div class="body">
  <header>
    <div class="row">
      <div class="filter-container">

        <div class="filter-options">
          <button class="filter-button"><i class="uil">Home</i></button>
          <button class="filter-button" (click)="loadData('Animes')" [class.active]="selectedItem === 'Animes'"><i
              class="uil">Animes</i></button>
          <button class="filter-button" (click)="loadData('Movies')" [class.active]="selectedItem === 'Movies'"><i
              class="uil">Movies</i></button>
          <button class="filter-button" (click)="loadData('Series')" [class.active]="selectedItem === 'Series'"><i
              class="uil">Shows</i></button>
          <button class="filter-button" (click)="loadData('Books')" [class.active]="selectedItem === 'Books'"><i class="uil">Books</i></button>
          <button class="filter-button" (click)="loadData('Games')" [class.active]="selectedItem === 'Games'"><i
              class="uil">Games</i></button>
          <button class="filter-button"><i class="uil">Music</i></button>

        </div>
      </div>
    </div>

  </header>




  <div class="container list col-lg-12">
    <div *ngIf="showAnimeList">
      <app-anime-graphics [type]="'Animes'"></app-anime-graphics>
    </div>
    <div *ngIf="showMovieList">
      <app-anime-graphics [type]="'Movies'"></app-anime-graphics>
    </div>
    <div *ngIf="showSeriesList">
      <app-anime-graphics [type]="'Series'"></app-anime-graphics>
    </div>
    <div *ngIf="showGameList">
      <app-game-graphics></app-game-graphics>
    </div>
    <div *ngIf="showBookList">
      <app-books-graphics></app-books-graphics>
    </div>
    <div *ngIf="showMusicList">

    </div>
  </div>