<!--<form (ngSubmit)="onSubmit()" #movieForm="ngForm">

    <div>
        <label for="tipo">Tipo:</label>
        <select name="tipo" id="tipo" [(ngModel)]="tipo">
            <option>Peliculas</option>
            <option>Series</option>
            <option>Animes</option>
            <option>Juegos</option>
            <option>Libros</option>
        </select>
      </div>

    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="data.name" required>
    </div>
  
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" [(ngModel)]="data.date" required>
    </div>
  
    <div>
      <label for="score">Score:</label>
      <input type="text" id="score" name="score" [(ngModel)]="data.score" required>
    </div>
  
    <div>
      <label for="type">Type:</label>
      <input type="text" id="type" name="type" [(ngModel)]="data.type" required>
    </div>
  
    <div>
      <label for="image">Image:</label>
      <input id="formFileLg" (change)="obtenerImagen($event)" type="file"
      accept="image/png, .jpeg, .jpg, image/gif" />
    </div>
  
    <div>
      <label for="visible">Visible:</label>
      <select id="visible" name="visible" [(ngModel)]="data.visible" required>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
  
    <button type="submit" [disabled]="!movieForm.valid">Submit</button>
  </form>-->
  

  <div class="container col-lg-12" style="margin-top: 5%;">
    <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
        <div class="container col-lg-6" style="background-color: #121212;">
            <div class="top col-lg-12" style="margin-bottom: 3%;">
                <a href="./"><img class="imgTitle" src="./assets/img/prisma2.png" style="height: 90%;"></a>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Categoria:</label>
                    </div>
                    <div class="col-lg-9">
                        <select name="tipo" id="tipo" [(ngModel)]="tipo">
                            <option>Peliculas</option>
                            <option>Series</option>
                            <option>Animes</option>
                            <option>Juegos</option>
                            <option>Libros</option>
                            <option>Musica</option>
                        </select>
                    </div>
                </div> 
            </div>

            <div class="col-lg-12">
                <input type="text" id="name" name="name" [(ngModel)]="data.name" placeholder="Name" required>
            </div>

            <div class="col-lg-12">
                <input type="date" id="date" name="date" [(ngModel)]="data.date" required>
            </div>

            <!-- Mostrar la sección de calificación solo si el tipo no es "Peliculas" -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Calificacion:</label>
                    </div>
                    <div class="col-lg-9">
                        <select id="score" name="score" [(ngModel)]="data.score">
                            <option *ngFor="let opcion of opCalificacion" [value]="opcion">{{ opcion }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div *ngIf="tipo !== 'Juegos' && tipo !== 'Musica'" class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Tipo:</label>
                    </div>
                    <div class="col-lg-9">
                        <select id="type" name="type" [(ngModel)]="data.type">
                            <option *ngFor="let opcion of opTipos[0]" [value]="opcion">{{ opcion }}</option>
                        </select>
                    </div>
                </div>   
            </div>

            <div class="col-lg-12">
                <input id="formFileLg" name="formFileLg" (change)="obtenerImagen($event)" type="file" accept="image/png, .jpeg, .jpg, image/gif" />
            </div>
            <div class="col-lg-12">
                <button type="submit" [disabled]="!movieForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>