<div class="body">
    <div class="top d-flex flex-column" style=" height: 210px; border-bottom: 1px solid #000;">
        <div class="mt-auto d-flex" style="padding-left: 5%;">
            <a href="./"><img class="imgTitle" src="./assets/img/prisma2.png" style="height: 90%;"></a>
        </div>
    </div>
    <div class="down" style="text-align: start; padding: 5%;">
        <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
            <div class="row col-lg-12">
                <div class="col-lg-2">
                    <label>Categoria:</label>
                </div>
                <div class="col-lg-10" style="width: 30%;">
                    <select name="tipo" id="tipo" [(ngModel)]="tipo">
                        <option>Peliculas</option>
                        <option>Series</option>
                        <option>Animes</option>
                        <option>Juegos</option>
                        <option>Libros</option>
                        <option>Musica</option>
                    </select>
                </div>
            </div>

            <div class="row col-lg-12">
                <div class="col-lg-2">
                    <label>Name:</label>
                </div>
                <div class="col-lg-10" style="width: 30%;">
                    <input class="date" type="text" id="name" name="name" [(ngModel)]="data.name" placeholder="Name"
                        required>
                </div>
            </div>

            <div class="row col-lg-12">
                <div class="col-lg-2">
                    <label>Date:</label>
                </div>
                <div class="col-lg-10" style="width: 30%;">
                    <input class="date" type="date" id="date" name="date" [(ngModel)]="data.date" required>
                </div>
            </div>

            <div class="row col-lg-12" style="margin-bottom: 1%;">
                <div class="col-lg-2">
                    <label style="margin-top: 10%;">Calificacion:</label>
                </div>
                <div class="col-lg-10" style="width: 30%;">
                    <div class=" star-rating">
                        <span style="margin: 0; padding: 0;" *ngFor="let star of stars; let i = index"
                            (click)="rate(data, i + 1)" [ngClass]="{'selected': (i + 1) <= data.score}">
                            &#9733;
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="tipo !== 'Juegos' && tipo !== 'Musica'" class=" row col-lg-12">

                <div class="col-lg-2">
                    <label>Tipo:</label>
                </div>
                <div class="col-lg-10" style="width: 30%;">
                    <select id="type" name="type" [(ngModel)]="data.type">
                        <option *ngFor="let opcion of opTipos[0]" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>

            <div style="width: 45%;">
                <input id="formFileLg" name="formFileLg" (change)="obtenerImagen($event)" type="file"
                    accept="image/png, .jpeg, .jpg, image/gif" />
            </div>
            <div style="width: 45%;">
                <button type="submit" [disabled]="!movieForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>