<div class="body">
  <div class="container">
    <div class="row">

       <!--<div class="col-lg-1 col-1" style="margin-top: 5%;">
       <img src="./assets/patrones.svg" alt="Patrones de líneas verticales">
        
      </div>-->

      <div class="col-lg-12" style="margin-top: 5%;">
        <div class="TopSeccion col-lg-12" >
          <div class="row">

            <div class="profile col-lg-4 col-4">
              <div class="BoxIntern" style=" text-align: center;">
                <h1 class="title">ケンダル</h1>
              </div>
              <div class="BoxIntern" style=" height: 300px; margin-top: 2%;">
                <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                  <div class="imagen-circular">
                    <img
                      src="https://c4.wallpaperflare.com/wallpaper/607/847/687/deadpool-2-hd-4k-movies-wallpaper-preview.jpg"
                      alt="">
                  </div>
                </div>

              </div>
            </div>
            <div class=" col-lg-2 col-2">
              <div class="BoxIntern" style=" display: flex; justify-content: center; align-items: center;">
                    
                  <h1>プ<br>ラ<br>チ<br>ナ</h1> 
                  
              </div>
              <div class="BoxIntern"
                style="margin-top: 2%; display: flex; justify-content: center; align-items: center; height: 100px; ">
                <h1 style="color: var(--color-2);">5</h1>
              </div>
            </div>

            <div class="profileTime col-lg-6 col-6">
              <div class="BoxIntern ">
                <h1 >DATA</h1>
                <h4 >TIME CAPSULE 2019</h4>
              </div>
              <div class="BoxIntern">
                <div style="margin-top: 30%;">
                  <h1 >2024</h1>
                </div>
                <div class="Underlined" style="padding-right: 2%;">
                  [Resumen del año] 昨年の要約 
                </div>
              </div>

            </div>

          </div>

        </div>
        <div class="BottonSeccion col-lg-12">
          <div class="row">
            <div class="col-lg-6 ">

              <div class="BoxIntern col-lg-12 row">
                <div class="BoxIntern col-lg-6 row" >
                  <h4>Evangelion</h4>
                <p style="word-wrap: break-word; font-size: 12px;" >
                  "Cada uno de nosotros busca su propia libertad,
                    pero a veces la buscamos en lugares equivocados."<br>
                  
              </p>
                <div style="text-align: right;">
                  <strong>- Rei Ayanami</strong>
                </div>
                  
                </div>

                <div class="BoxIntern col-lg-5">
                
                  <h4 class="title" style=" font-weight: 700;">さよなら</h4>
                  <p style="word-wrap: break-word; font-size: 12px;">
                    Kaori: Pude entrar en tu corazon?<br>
                    Arima: Entraste sin quitarte los zapatos.<br>
                  </p>
                  <div class="Underlined" style="background-color: var(--color-2) ; padding-right: 2%;" >
                    YOUR LIE IN APRIL
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-6 row graphicsBox">
              <div class="BoxIntern col-lg-12 row">
                <div class="col-lg-6">
                  Anime
                </div>
                <div class="col-lg-6 Underlined">
                  <div class="UnderlinedShadow">
                    220
                  </div>
                </div>
              </div>

              <div class="BoxIntern col-lg-12 row">
                <div class="col-lg-6">
                  Peliculas
                </div>
                <div class="col-lg-6 Underlined">
                  35
                </div>
              </div>

              <div class="BoxIntern col-lg-12 row">
                <div class="col-lg-6">
                  Series
                </div>
                <div class="col-lg-6 Underlined">
                  35
                </div>
              </div>

              <div class="BoxIntern col-lg-12 row">
                <div class="col-lg-6">
                  Libros
                </div>
                <div class="col-lg-6 Underlined">
                  84
                </div>
              </div>

              <div class="BoxIntern col-lg-12 row">
                <div class="col-lg-6">
                  Juegos
                </div>
                <div class="col-lg-6 Underlined">
                  34
                </div>
              </div>

              <div class="BoxIntern col-lg-12 row">
                <div class="col-lg-6">
                  Musica
                </div>
                <div class="col-lg-6 Underlined">
                  80
                </div>
              </div>
              


            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>