.body{
    margin-top: 10px;
    background-color: #121212;
    margin-bottom: 10px;
    border-radius: 10px;
    height: calc(102vh - 60px);
   
}



.card {
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: none;
  }


  .cardCircule {
    width: 170px; /* ajusta el tamaño del contenedor según tus necesidades */
    height: 170px; /* ajusta el tamaño del contenedor según tus necesidades */
    border-radius: 50%; /* establece el borde redondeado para hacer el círculo */
    overflow: hidden; /* asegura que la imagen se ajuste al círculo */
    margin-left: 4%;
    border: 0.5px solid #ffffff;
  }
  
  .cardCircule img {
    width: 100%; /* asegura que la imagen ocupe todo el contenedor */
    height: auto; /* ajusta la altura automáticamente para mantener la proporción */
    display: block; /* asegura que la imagen no tenga espacio extra alrededor */
  }




mat-icon {
  margin-right: 10px;
}

nav {
    background-color: #121212; /* Cambia #2c3e50 por el color que desees */
  }

.imagen{
  width: 100%; 
  height: 250px;
 
  border: 1px solid #000000;
  border-radius: 10px;
  
}


h4{
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%;
}


.list{
    max-height: calc(92vh - 60px); /* Ajusta el valor según tus necesidades */
    overflow-y: auto;
  }

  .list::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento vertical en navegadores webkit */
}


.navbar {
  background-color: transparent;
}

.navbar-nav .nav-link {
  padding: 5px 20px;
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #ccc;
}

/* Estilos para el botón */
.perfil-button {
    background-color: transparent; /* Azul */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.title{
    color: white; 
    text-align: left;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier texto que desborde del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) al final del texto */
    max-width: 200px;
}


.buttonNav{
  font-size: 30px;
}



button{
  background-color: transparent; 
  color: white; 
  margin-right: 2%;
 border: none;
}

.b1{
  background-color: transparent; 
  color: white; 
  border-radius: 5px;
  margin-right: 2%;
  border: 1px solid #ffffff;
}

button:hover{
  background-color: rgb(229, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
}



 /* Estilos para la animación de carga */
 .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767); /* Fondo oscurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima del modal */
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}


.navbar-brand{
  display: none;
}


@media (max-width: 767.98px) {

 
     .imagen{
       height: 180px;
     }
 
     .title{
        display: none;
     }

     .cardCircule {

      margin-left: 20%;
    }

    .navbar-nav{
      margin-top: 2%;
      background-color: #242424;
      border-radius: 5%;
    }

    .navbar-brand{
      display: block;
      color: #fff;
    }

    .CarrouselClass{
      display: none;
    }

 
 }


