<div class="body">
  <header>
    <button (click)="loadData('Animes');"><i class="uil uil-letter-japanese-a"></i> Anime</button>
    <button (click)="loadData('Movies');"><i class="uil uil-ticket"></i> Peliculas</button>
    <button (click)="loadData('Series')"><i class="uil uil-files-landscapes"></i> Series</button>
    <button (click)="loadData('Books');"><i class="uil uil-book-alt"></i> Libros</button>
    <button (click)="loadData('Games');"><i class="uil uil-basketball-hoop"></i> Juegos</button>
    <button (click)="loadData('Music');"><i class="uil uil-music"></i> Musica</button>

  </header>

  <div class="container list col-lg-12">


    <h4>Airing</h4>



    <div *ngIf="animesAiring.length === 0">No animes available</div>
    <div *ngIf="animesAiring.length > 0">
      <p-carousel [value]="animesAiring" [numVisible]="numVisible" [numScroll]="1" [circular]="true"
        [showIndicators]="false">
        <ng-template let-cardData pTemplate="item">
          <div class="cardCircule" (click)="openModal(cardData)">
            <img class="imagen" [src]="cardData.image" [alt]="cardData.name" />
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <h4>Lista de Animes</h4>
    <div class="row nbar col-lg-12 col-12" style="margin-bottom: 3%;">
      <div class="col-lg-6 col-4 col-md-6" style="text-align: left;">

        <i (click)="restNumber()" class="uil buttonNav uil-angle-left"></i>
        <i (click)="aumentarNumero();" class="uil buttonNav uil-angle-right"></i>

      </div>
      <div class="col-lg-5 col-4 col-md-5">
        <input [(ngModel)]="search" class="form-control me-2" type="search" aria-label="Search" name="search"
          style="background-color: transparent; color: white;">
      </div>
      <div class="col-lg-1 col-2 col-md-1">
        <button class="b1 btn" (click)="searchData()">Buscar</button>
      </div>
    </div>

    <div class="table-container">


      <div class="row">
        <div *ngFor="let cardData of data" class="col-lg-2 col-6 col-md-4">
          <div class="card">
            <img (click)="openModal(cardData)" class="imagen" [src]="cardData.image" alt="#">
            <p class="title">{{cardData.name}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="loading-overlay" *ngIf="loading">
    <!-- Aquí puedes colocar tu animación de carga -->
    <div class="loading-spinner"></div>
</div>



</div>