<div class="body">
  <nav class="navbar navbar-expand-sm " >
    <div class="container">
      <a class="navbar-brand" href="#">{{this.message}}</a>
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" [ngClass]="{ 'show': navbarOpen }" id="navbarContent">
        
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="loadData('Animes');" [class.active]="selectedItem === 'Animes'"><i class="uil uil-letter-japanese-a"></i> Animes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="loadData('Movies');" [class.active]="selectedItem === 'Movies'"><i class="uil uil-ticket"></i> Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="loadData('Series')" [class.active]="selectedItem === 'Series'" ><i class="uil uil-files-landscapes"></i> Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="loadData('Books');" [class.active]="selectedItem === 'Books'"><i class="uil uil-book-alt"></i> Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="loadData('Games');" [class.active]="selectedItem === 'Games'"><i class="uil uil-basketball-hoop"></i> Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="loadData('Music');" [class.active]="selectedItem === 'Music'"><i class="uil uil-music"></i> Music</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="intro" *ngIf="introVisible">
    <h1>TIME</h1>
    <h1>CAPSULE</h1>
    <h3>2019-{{actualYear}}</h3>
    <p>"I want to be free, but I dont know who I am without the walls around me." - Evangelion</p>
</div>
  

  <div class="container list col-lg-12">
    <div *ngIf="showAnimeList">
      <app-anime-list-discover></app-anime-list-discover>
    </div>
    <div *ngIf="showMovieList">
      <app-movie-list-discover></app-movie-list-discover>
    </div>
    <div *ngIf="showSeriesList">
      <app-serie-list-discover></app-serie-list-discover>
    </div>
    <div *ngIf="showGameList">
      <app-game-list-discover></app-game-list-discover>
    </div>
    <div *ngIf="showBookList">
      <app-book-list-discover></app-book-list-discover>
    </div>
    <div *ngIf="showMusicList">
      <app-music-list-discover></app-music-list-discover>
    </div>
  </div>
