header {
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    text-align: right;
    border-radius: 10px;
  }

.imagen{
    width: 70px; 
    height: 105px;
    margin-right: 1%;
    margin-bottom: 1%;;
    margin-top: 1%;
}

.imagen2{
  width: 80px; 
  height: 80px;
  margin-right: 1%;
  margin-bottom: 1%;;
  margin-top: 1%;
}

.izq {
    border-style: solid;
    border-color: black;
    color: black;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.der{
     border-style: solid ;
    border-color: black;
    border-left: none;
    background-color: #252525;
}


  .resultCount{
    text-align: right;
    margin-top: 2%;
  }




  .column{
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
}

.columnDesc{
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
    height: calc(77vh - 60px);
    background:  #121212;
}



.imgTitle{
    width: 140px; 
    height: 90px;
    margin-left: 2%;
    margin-top: 2%;
}

.link{
    margin-bottom: 5%;
    cursor: pointer;
}


.body {
    margin-top: 10px;
    background-color: #121212;
    margin-bottom: 10px;
    border-radius: 10px;
    height: calc(102vh - 60px);
    text-align: start;
  }

.list{
    height: calc(90vh - 60px); /* Ajusta el valor según tus necesidades */
    overflow-y: auto;
  }

  .list::-webkit-scrollbar {
    width: 0; /* Oculta la barra de desplazamiento vertical en navegadores webkit */
}


 /* Estilos para la animación de carga */
 .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767); /* Fondo oscurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima del modal */
  }
  
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  


  

/* Contenedor general del filtro */
.filter-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}


/* Opciones del filtro */
.filter-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Dropdowns */
.filter-dropdown {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.2s;
}


.filter-dropdown:hover {
  border-color: #999;
}

/* Botón de filtrar */
.filter-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filter-button:hover {
  color: #dddbdb;
}


.filter-button.active {
  color: #000000;
  background-color: var(--color-2);
}

select:disabled {
  background-color: #f0f0f0; /* Color de fondo gris */
  color: #999; /* Texto gris */
  cursor: not-allowed; /* Cursor indicando que está desactivado */
  opacity: 0.6; /* Reduce la opacidad */
}