.imagen{
    width: 80px; 
    height: 130px;
    margin-right: 1%;
    margin-bottom: 1%;;
    margin-top: 1%;
}

.izq {
    border-style: solid;
    border-color: black;
    color: black;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.der{
     border-style: solid ;
    border-color: black;
    border-left: none;
    background-color: #1F1D3A;
}

/*.card{
    border-style: solid;
    border-color: black;
}*/

button{
    width: 100%;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: transparent;
}

button:hover{
    background-color: rgb(91, 79, 67);
}

select{
    width: 100%;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: transparent;
}

select option {
    background-color: var(--color-1); 
    color: var(--color-text); 
  }

  .resultCount{
    text-align: right;
  }

